<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>The best of the best</title>
	</head>
	<body>
	<p>
		Who's the best of the best Superhero??<br>
		<strong>{{.}}</strong> of course!
	</p>
	</body>
</html>
